#main-content
  .container
    .row
      .col-sm-12
        .page-header.page-header-with-icon.no-mg-t
          %i.fa-icon-tag
          %h2
            = @page.title
        .row
          .col-sm-12
            != @page.body
          .col-sm-12
          - @gost_groups.each do |group|
            %h2= group.name
            - group.gosts.each do |gost|
              = link_to gost.file.url, class: 'btn btn-bordered btn-default downloaded_gost' do
                = gost.filename
                %i.fa-icon-download-alt
