%ul.nav.navbar-nav.navbar-right
  = main_menu_item @main_menu_items[:main], root_path
  = main_menu_item @main_menu_items[:services]
  = main_menu_item @main_menu_items[:products]
  = main_menu_item @main_menu_items[:faq]
  = main_menu_item @main_menu_items[:contacts]
