%div#main{ role: 'main' }
  #main-content
    .container
      .row
        .col-sm-12
          .page-header.page-header-with-icon.no-mg-t
            %i.fa-icon-suitcase
            %h2
              = @page.title
          .row
            .col-sm-12
              != @page.body
              - unless @page.body.blank?
                %hr
    .container
      .row
        .col-sm-12
          .row
            - @prices.each do |price|
              .jumbotron
                %h4.no-mg-t
                  = price.name
                  %p
                    != price.description
                  = link_to 'Скачать', price.file.url, class: 'btn btn-contrast no-mg-b'
