<!DOCTYPE html>
<!--[if lt IE 9]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if !IE] -->
<html lang="en">
  <!-- <![endif] -->
  <head>
    <title>Okamagroup</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <![endif]-->
    <link href="<%= asset_path('meta_icons/favicon.ico')%>" rel="shortcut icon" type="image/x-icon">
    <link href="<%= asset_path('meta_icons/apple-touch-icon.png')%>" rel="apple-touch-icon-precomposed">
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="">
    <div id="wrapper">
      <header id="header">
        <div class="container">
          <nav class="navbar navbar-collapsed-sm navbar-default" id="nav" role="navigation">
            <div class="navbar-header">
              <button class="navbar-toggle" data-target=".navbar-header-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to root_path, class: 'navbar-brand' do %>
                <img alt="Jednotka" width="355" height="75" src="<%= asset_path('logo.jpg') %>" />
              <% end %>
            </div>
            <div class="collapse navbar-collapse navbar-header-collapse">
              <%= render 'shared/main_menu'%>
            </div>
          </nav>
        </div>
      </header>
      <div id="main" role="main">
        <div id="main-content">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
        <div class="fade" id="scroll-to-top">
          <i class="fa fa-chevron-up"></i>
        </div>
      </div>
      <footer id="footer">
        <div id="footer-main">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6 info-box">
                <div class="logo-container">
                  <img alt="Jednotka" width="117" height="39" src="<%= asset_path('logo.svg') %>" />
                </div>
                <p class="no-mg-b">Главное направление: развитие технологий производства инновационной продукции в секторе строительного арматурного проката и изделий строительного назначения.(текст на замену)</p>
              </div>
              <div class="col-md-6 col-sm-6 info-box">
              </div>
              <div class="col-md-3 col-sm-6 info-box">
                <h2 class="title">Contact</h2>
                <div class="icon-boxes">
                  <div class="icon-box">
                    <div class="icon icon-wrap">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="content">
                      4567 Street name,
                      <br>
                      012 12 City name, Country
                    </div>
                  </div>
                  <div class="icon-box">
                    <div class="icon icon-wrap">
                      <i class="fa fa-phone"></i>
                    </div>
                    <div class="content">
                      <a href="tel:+012345678">+012 345 678</a>
                    </div>
                  </div>
                  <div class="icon-box">
                    <div class="icon icon-wrap">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <div class="content"><%= link_to 'info@okamagroup.com', 'mailto:info@okamagroup.com'%></div>
                  </div>
                  <div class="icon-box">
                    <div class="icon icon-wrap">
                      <i class="fa fa-globe"></i>
                    </div>
                    <div class="content"><%=link_to 'www.okamagroup.com', 'http://okamagroup.com'%></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="footer-copyright">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 clearfix">
                <p class="copyright">
                  Copyright
                  &copy;
                  2015 Okamagroup
                </p>
                <div class="links">
                  <a class="btn btn-circle btn-medium-light btn-sm" href="#">
                    <i class="fa fa-twitter text-dark"></i>
                  </a>
                  <a class="btn btn-circle btn-medium-light btn-sm" href="#">
                    <i class="fa fa-dribbble text-dark"></i>
                  </a>
                  <a class="btn btn-circle btn-medium-light btn-sm" href="#">
                    <i class="fa fa-facebook text-dark"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
